.navigation {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    /* Text/secondary */
    color: #525252;

    display: flex;
    padding: 28px 112px;
}

.navigation__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn {
    border: none;
    background: none;

    fill: #525252;

    svg {
        fill: inherit
    }

    &:hover {
        cursor: pointer;
        fill: #171717;
    }

    &:focus {
        outline: none;
        border-radius: 4px;
        /* focus-ring/focus-band */
        box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }
}

.navigation__menu-btn {

    .navigation-toggler {
        display: none;        
    }
}

.logo-link {
    display: flex;
    align-items: center;
    padding: 7px 4px;
    margin-right: 96px;
    
    text-decoration: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.06em;

    /* Text/primary */
    color: #171717;

    img {
        margin-right: 4px;
    }
}

.navigation__items__list, 
.navigation-mobile__items__list {
    display: flex;
    flex-grow: 1;
    list-style: none;

    li {
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #525252;
            padding: 0 2px;

            &:hover {
                color: #171717;
            }

            &:focus {
                outline: none;
                /* focus-ring/focus-band */
                box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
                border-radius: 4px;
            }
        }

        &+li {
            margin-left: 36px;
        }
    }
}

.navigation-mobile__items__list {
    flex-direction: column;
}

.learn-more {
    text-decoration: none;
    padding: 10px 18px;
    /* Text/primary */
    color: #171717;
    margin-right: 16px;

    /* Background/primary */
    background: #FFFFFF;
    /* Border/primary */
    border: 0.5px solid #E6E6E6;
    /* shadow / shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:hover {
        background: #FAFAFA;
        border: 1px solid #E6E6E6;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }
}

.see-pricing {
    text-decoration: none;
    padding: 10px 18px;
    /* Text/primary-invert */
    color: #FFFFFF;

    /* Background/brand-primary */
    background: #4338CA;
    /* shadow / shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;

    &:hover {
        background: #3730A3;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    }
}

main {
    flex-grow: 1;
    background: red;
}

.navigation-mobile {
    display: flex;
    flex-direction: column;     
    position: absolute;
    top: 32px;
    left: 0;
    transform: translateX(calc(-100% - 16px));
    transition: transform 0.3s ease-in-out;
    background: #fff;
    padding-left: 24px;
    width: 359px;

    .navigation-mobile__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navigation__items__actions {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) { 
    .navigation {
        padding: 32px 24px 16px;
        position: relative;
    }
    
    .navigation__menu-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: unset;
        width: 100%;

        .navigation-toggler {
            display: flex;
        }
    }
    .navigation__items {
        position: absolute;
        top: 86px;
        left: 0;
        background: #fff;
        height: calc(100vh - 118px);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;     

        .navigation__items__list, 
        .navigation-mobile__items__list {
            display: none;

            min-width: 100%;
            margin-bottom: auto;

            li {
                margin-left: 0;
                width: 100%;
                padding: 0 16px;

                a {
                    font-size: 14px;
                    line-height: 20px;
                    padding: 8px 12px;
                    display: block;
                }
            }
        }

        .navigation-mobile__items__list {
            display: flex;
        }       
    }

    .navigation__items__actions {
        display: none;

        width: 100%;
        padding: 16px;

        .learn-more {
            margin-bottom: 16px;
            width: 100%;
            text-align: center;
        }

        .see-pricing {
            width: 100%;
            text-align: center;
        }
    }    

    .navigation-mobile.open {
        transform: translateX(0);
    }
}
